* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 16px;
  line-height: 16px;
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.grid__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

.grid__column-2 {
  padding-left: 12px;
  padding-right: 12px;
  width: 16.6667%;
}

.grid__column-2-4 {
  padding-left: 12px;
  padding-right: 12px;
  width: 20%;
}

.grid__column-10 {
  padding-left: 12px;
  padding-right: 12px;
  width: 83.3333%;
}

.btn {
  min-width: 124px;
  height: 36px;
  border-radius: 3px;
  text-decoration: none;
  border: none;
  background-color: #FFF;
  font-size: 14px;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn--primary {
  background-color: #ee4d2d;
  color: #fff;
  cursor: pointer;
}

.select-input {
  min-width: 120px;
  height: 34px;
  padding: 0 12px;
  border: 2px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* Animation */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: inherit;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: inherit;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
    visibility: inherit;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: inherit;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@-webkit-keyframes growth {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
    visibility: hidden;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    visibility: initial;
  }
}
@keyframes growth {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
    visibility: hidden;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    visibility: initial;
  }
}
@-webkit-keyframes growthOut {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    visibility: initial;
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes growthOut {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    visibility: initial;
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
    visibility: hidden;
  }
}
.main {
  overflow: hidden;
}
.main .header {
  height: 120px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(#ff6533), to(#f6402e));
  background-image: linear-gradient(0, #ff6533, #f6402e);
}
.main .header .grid .header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main .header .grid .header__navbar .header__navbar-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  margin: 10px 0;
}
.main .header .grid .header__navbar .header__navbar-list .header__navbar-item--border {
  border-right: 1px solid #f96d5c;
}
.main .header .grid .header__navbar .header__navbar-list .header__navbar-item {
  color: #fff;
  padding: 0 8px;
  font-size: 14px;
  position: relative;
  text-decoration: none;
}
.main .header .grid .header__navbar .header__navbar-list .header__navbar-item:hover .header__navbar-item--qrcode {
  display: block;
}
.main .header .grid .header__navbar .header__navbar-list .header__navbar-item:hover .header__notifi {
  -webkit-animation: growth 0.3s linear forwards;
          animation: growth 0.3s linear forwards;
}
.main .header .grid .header__navbar .header__navbar-list .header__navbar-item .header__navbar-item-link {
  text-decoration: none;
  color: #fff;
}
.main .header .grid .header__navbar .header__navbar-list .header__navbar-item .header__navbar-item-link:hover {
  color: #fcc7c1;
}
.main .header .grid .header__navbar .header__navbar-list .header__navbar-item .header__navbar-item--icon {
  color: #fff;
  text-decoration: none;
}
.main .header .grid .header__navbar .header__navbar-list .header__navbar-item .header__navbar-item--icon:hover {
  color: #fcc7c1;
}
.main .header .grid .header__navbar .header__navbar-list .header__navbar-item .header__navbar-item--icon:hover .header__navbar-item--cursor {
  color: #fff;
}
.main .header .grid .header__navbar .header__navbar-list .header__navbar-item .header__navbar-item--cursor:hover {
  cursor: text;
  color: #fff;
}
.main .header .grid .header__navbar .header__navbar-list .header__navbar-item .header__navbar-item--qrcode {
  position: absolute;
  background-color: #fff;
  width: 180px;
  top: 25px;
  display: none;
  -webkit-animation: fadeIn ease-in 0.5s;
          animation: fadeIn ease-in 0.5s;
  -webkit-box-shadow: 0 0 5px #bbb6b6;
          box-shadow: 0 0 5px #bbb6b6;
  z-index: 1;
}
.main .header .grid .header__navbar .header__navbar-list .header__navbar-item .header__navbar-item--qrcode .header__navbar-item--qr .qr {
  width: 100%;
}
.main .header .grid .header__navbar .header__navbar-list .header__navbar-item .header__navbar-item--qrcode .header__navbar-item--app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main .header .grid .header__navbar .header__navbar-list .header__navbar-item .header__navbar-item--qrcode .header__navbar-item--app .app {
  height: 18px;
  margin-left: 8px;
  margin-bottom: 8px;
}
.main .header .grid .header__navbar .header__navbar-list .header__navbar-item .header__navbar-item--qrcode::before {
  content: "";
  position: absolute;
  display: block;
  height: 12px;
  width: 100%;
  left: 0;
  top: -12px;
  cursor: pointer;
}
.main .header .grid .header__navbar .header__navbar-list .header__navbar-item .header__notifi {
  position: absolute;
  top: 165%;
  right: 7px;
  width: 404px;
  background-color: #fff;
  border: 1px solid #D3D3D3;
  -webkit-transform-origin: 90% top;
          transform-origin: 90% top;
  -webkit-animation: growthOut 0.3s linear forwards;
          animation: growthOut 0.3s linear forwards;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  z-index: 5;
}
.main .header .grid .header__navbar .header__navbar-list .header__navbar-item .header__notifi::before {
  content: "";
  border-width: 20px 30px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  top: -30px;
  right: 0px;
  display: block;
}
.main .header .grid .header__navbar .header__navbar-list .header__navbar-item .header__notifi .header__notifi-header {
  margin-left: 12px;
}
.main .header .grid .header__navbar .header__navbar-list .header__navbar-item .header__notifi .header__notifi-header h3 {
  color: #ccc;
  font-weight: 400;
  font-size: 14px;
}
.main .header .grid .header__navbar .header__navbar-list .header__navbar-item .header__notifi .header__notifi-list {
  list-style: none;
  padding-left: 0px;
}
.main .header .grid .header__navbar .header__navbar-list .header__navbar-item .header__notifi .header__notifi-list li {
  background-color: rgba(238, 75, 49, 0.08);
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}
.main .header .grid .header__navbar .header__navbar-list .header__navbar-item .header__notifi .header__notifi-list li:hover {
  background-color: #f7f7f7;
}
.main .header .grid .header__navbar .header__navbar-list .header__navbar-item .header__notifi .header__notifi-list li .header__notifi-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-decoration: none;
  height: 46px;
  margin-left: 12px;
}
.main .header .grid .header__navbar .header__navbar-list .header__navbar-item .header__notifi .header__notifi-list li .header__notifi-link .header__notifi-img {
  width: 48px;
  -o-object-fit: contain;
     object-fit: contain;
}
.main .header .grid .header__navbar .header__navbar-list .header__navbar-item .header__notifi .header__notifi-list li .header__notifi-link .header__notifi-infor p {
  margin: 4px 8px;
}
.main .header .grid .header__navbar .header__navbar-list .header__navbar-item .header__notifi .header__notifi-list li .header__notifi-link .header__notifi-infor .header__notifi-description {
  font-size: 12px;
  color: #756F6E;
}
.main .header .grid .header__navbar .header__navbar-list .header__navbar-item .header__notifi .header__notifi-list li .header__notifi-link .header__notifi-infor .header__notifi-name {
  color: #000;
  font-size: 13px;
  font-weight: 400px;
}
.main .header .grid .header__navbar .header__navbar-list .header__navbar-item .header__notifi .header__notifi-footer .header__notifi-footer--btn {
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 10px 0;
  color: #000;
}
.main .header .grid .header-with-seach {
  height: 84px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 8px;
}
.main .header .grid .header-with-seach .header__mobile-seach {
  display: none;
}
.main .header .grid .header-with-seach .header__logo {
  width: 200px;
}
.main .header .grid .header-with-seach .header__logo .header__logo-img {
  width: 120px;
}
.main .header .grid .header-with-seach .header__seach {
  height: 40px;
  background-color: #fff;
  border-radius: 2px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .header .grid .header-with-seach .header__seach .header__seach-warp {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}
.main .header .grid .header-with-seach .header__seach .header__seach-warp .header__seach-input {
  width: 100%;
  outline: none;
  border: none;
  border-radius: 2px;
  padding-left: 12px;
}
.main .header .grid .header-with-seach .header__seach .header__seach-warp .header__seach-input:focus ~ .header__seach-history {
  display: block;
}
.main .header .grid .header-with-seach .header__seach .header__seach-warp .header__seach-history {
  position: absolute;
  top: 34px;
  left: 0;
  width: calc(100% - 16px);
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px #ccc5c5;
          box-shadow: 0 0 5px #ccc5c5;
  border-radius: 2px;
  display: none;
  z-index: 2;
}
.main .header .grid .header-with-seach .header__seach .header__seach-warp .header__seach-history .header__seach-history-heading {
  padding: 14px 12px;
  background-color: rgba(0, 0, 0, 0.04);
}
.main .header .grid .header-with-seach .header__seach .header__seach-warp .header__seach-history .header__seach-history-list {
  list-style: none;
  padding-left: 0px;
  margin: 0px 0;
}
.main .header .grid .header-with-seach .header__seach .header__seach-warp .header__seach-history .header__seach-history-list .header__seach-history-item {
  padding-left: 12px;
  line-height: 30px;
}
.main .header .grid .header-with-seach .header__seach .header__seach-warp .header__seach-history .header__seach-history-list .header__seach-history-item:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
.main .header .grid .header-with-seach .header__seach .header__seach-warp .header__seach-history .header__seach-history-list .header__seach-history-item a {
  display: block;
  text-decoration: none;
  color: #000;
}
.main .header .grid .header-with-seach .header__seach .header__seach-select {
  border-left: 1px solid #ccc;
  padding-left: 16px;
  position: relative;
}
.main .header .grid .header-with-seach .header__seach .header__seach-select .header__seach-select-lable {
  cursor: pointer;
}
.main .header .grid .header-with-seach .header__seach .header__seach-select .fas {
  margin: 0 16px;
  position: relative;
  top: 2px;
  color: #888;
}
.main .header .grid .header-with-seach .header__seach .header__seach-select:hover .header__seach-options {
  -webkit-animation: fadeIn linear 0.2s forwards;
          animation: fadeIn linear 0.2s forwards;
}
.main .header .grid .header-with-seach .header__seach .header__seach-select .header__seach-options {
  position: absolute;
  right: 0;
  background-color: #fff;
  list-style: none;
  padding-left: 0px;
  border-radius: 2px;
  width: 135px;
  -webkit-box-shadow: 0 0 3px #ccc;
          box-shadow: 0 0 3px #ccc;
  -webkit-animation: fadeOut linear 0.3s forwards;
          animation: fadeOut linear 0.3s forwards;
}
.main .header .grid .header-with-seach .header__seach .header__seach-select .header__seach-options .header__seach-option--item {
  font-size: 15px;
  padding: 8px 8px;
  color: #000;
}
.main .header .grid .header-with-seach .header__seach .header__seach-select .header__seach-options .header__seach-option--item .fas {
  margin: 0 9px;
}
.main .header .grid .header-with-seach .header__seach .header__seach-select .header__seach-options .header__seach-option--item:hover {
  background-color: #fafafa;
  cursor: pointer;
}
.main .header .grid .header-with-seach .header__seach .header__seach-select .header__seach-options::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 30px;
  top: -20px;
  left: 0;
  cursor: pointer;
}
.main .header .grid .header-with-seach .header__seach .header__seach-btn {
  background-color: #ff6533;
  height: 34px;
  width: 60px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 3px;
}
.main .header .grid .header-with-seach .header__seach .header__seach-btn .fas {
  margin: auto;
}
.main .header .grid .header-with-seach .header__cart {
  width: 150px;
  color: #fff;
  font-size: 26px;
  margin-top: 2px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  text-align: center;
}
.main .header .grid .header-with-seach .header__cart .shopping-cart {
  position: relative;
  text-align: center;
  margin: auto;
  width: 50px;
}
.main .header .grid .header-with-seach .header__cart .shopping-cart .shopping-cart-icon:hover .header__cart--no-cart {
  -webkit-animation: growth 0.3s linear forwards;
          animation: growth 0.3s linear forwards;
}
.main .header .grid .header-with-seach .header__cart .shopping-cart .shopping-cart-icon .shopping-cart--notifi {
  position: absolute;
  background-color: #fff;
  color: #ee4d2d;
  font-size: 14px;
  line-height: 14px;
  display: block;
  top: -10px;
  right: -5px;
  width: 20px;
  border-radius: 10px;
  border: 2px solid #ee4d2d;
}
.main .header .grid .header-with-seach .header__cart .shopping-cart .shopping-cart-icon .header__cart--no-cart {
  position: absolute;
  right: -12px;
  top: 40px;
  background-color: #fff;
  width: 520px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  -webkit-transform-origin: 94% top;
          transform-origin: 94% top;
  -webkit-animation: growthOut 0.3s linear forwards;
          animation: growthOut 0.3s linear forwards;
  z-index: 10;
}
.main .header .grid .header-with-seach .header__cart .shopping-cart .shopping-cart-icon .header__cart--no-cart::before {
  content: "";
  display: block;
  border-color: transparent transparent #fff transparent;
  border-width: 12px 16px;
  border-style: solid;
  position: absolute;
  top: -24px;
  right: 14px;
}
.main .header .grid .header-with-seach .header__cart .shopping-cart .shopping-cart-icon .header__cart--no-cart .header__cart--no-cart-img {
  margin: auto;
  width: 30%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main .header .grid .header-with-seach .header__cart .shopping-cart .shopping-cart-icon .header__cart--no-cart span {
  color: #756F6E;
  font-size: 14px;
  display: block;
  padding-bottom: 30px;
}
.main .header .header__sort-bar {
  display: none;
}
.main .container {
  background-color: #f5f5f5;
}
.main .container .grid .content {
  padding-top: 36px;
  padding-bottom: 20px;
}
.main .container .grid .content .col {
  padding-top: 12px;
  background-color: #fff;
}
.main .container .grid .content .col .category-heading {
  margin: 0;
  font-size: 14px;
}
.main .container .grid .content .col .category-heading span {
  margin-left: 6px;
  font-size: 16px;
}
.main .container .grid .content .col .category-list {
  padding-left: 0;
  margin: 0;
  list-style: none;
}
.main .container .grid .content .col .category-list .category-item:hover .category-item-link {
  color: #ee4d2d;
  right: -4px;
}
.main .container .grid .content .col .category-list .category-item .category-item-link {
  position: relative;
  right: 0;
  -webkit-transition: right linear 0.1s;
  transition: right linear 0.1s;
  text-decoration: none;
  padding: 8px 0;
  display: block;
  margin-left: 10px;
  color: #555;
}
.main .container .grid .content .col .category-list .category-item .category-item-link-active {
  color: #ee4d2d;
}
.main .container .grid .content .col .category-list .category-item .category-item-link-active::before {
  position: absolute;
  left: -10px;
  top: 50%;
  -webkit-transform: translateY(calc(-50% - 0px));
          transform: translateY(calc(-50% - 0px));
  content: "";
  display: block;
  border: 4px solid;
  border-color: transparent transparent transparent #ee4d2d;
}
.main .container .grid .content .l-10 .home-filter {
  padding: 12px 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 2px;
}
.main .container .grid .content .l-10 .home-filter .home-filter__label {
  color: #555;
  margin-right: 16px;
}
.main .container .grid .content .l-10 .home-filter .home-filter-btn {
  min-width: 90px;
  margin-right: 12px;
}
.main .container .grid .content .l-10 .home-filter .select-input {
  position: relative;
  width: 204px;
  font-size: 14px;
  z-index: 1;
  border-radius: 3px;
}
.main .container .grid .content .l-10 .home-filter .select-input:hover .select-input__list {
  display: block;
  -webkit-animation: fadeIn linear 0.2s forwards;
          animation: fadeIn linear 0.2s forwards;
}
.main .container .grid .content .l-10 .home-filter .select-input .select-input__list {
  display: none;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  background-color: #fff;
  list-style: none;
  margin: 5px 0px;
  padding: 12px;
  -webkit-animation: fadeOut 0.3s linear forwards;
          animation: fadeOut 0.3s linear forwards;
  border-radius: 3px;
}
.main .container .grid .content .l-10 .home-filter .select-input .select-input__list::before {
  content: "";
  display: block;
  width: 100%;
  height: 20px;
  position: absolute;
  top: -10px;
  left: 0;
}
.main .container .grid .content .l-10 .home-filter .select-input .select-input__list .select-input__item:hover .select-input__link {
  color: #ee4d2d;
}
.main .container .grid .content .l-10 .home-filter .select-input .select-input__list .select-input__item .select-input__link {
  text-decoration: none;
  display: block;
  padding: 6px 0px;
  color: #000;
}
.main .container .grid .content .l-10 .home-filter .home-filter-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .container .grid .content .l-10 .home-filter .home-filter-page .home-filter__page-number {
  font-size: 14px;
  margin-right: 22px;
}
.main .container .grid .content .l-10 .home-filter .home-filter-page .home-filter__page-number .home-filter__page-current {
  color: #ee4d2d;
}
.main .container .grid .content .l-10 .home-filter .home-filter-page .home-filter__page-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main .container .grid .content .l-10 .home-filter .home-filter-page .home-filter__page-control .home-filter__page-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 36px;
  height: 36px;
  background-color: #eee;
  margin: auto;
  text-decoration: none;
}
.main .container .grid .content .l-10 .home-filter .home-filter-page .home-filter__page-control .home-filter__page-btn .fas {
  margin: auto;
}
.main .container .grid .content .l-10 .home-filter .home-filter-page .home-filter__page-control .home-filter__page-btn--disable {
  background-color: #d8d8d8;
  cursor: default;
}
.main .container .grid .content .l-10 .home-filter .home-filter-page .home-filter__page-control .home-filter__page-btn--disable .fas {
  color: #bebdbd;
}
.main .container .grid .content .l-10 .mobile-category {
  display: none;
}
.main .container .grid .content .l-10 .mobile-category .mobile-category__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  margin: -15px 0;
  max-width: 100%;
  overflow-x: auto;
}
.main .container .grid .content .l-10 .mobile-category .mobile-category__list::-webkit-scrollbar {
  display: none;
}
.main .container .grid .content .l-10 .mobile-category .mobile-category__list .mobile-category__item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 6px;
  min-width: 108px;
  margin: 0 6px;
}
.main .container .grid .content .l-10 .mobile-category .mobile-category__list .mobile-category__item:nth-child(3n) {
  background-color: #87afd8;
}
.main .container .grid .content .l-10 .mobile-category .mobile-category__list .mobile-category__item:nth-child(3n+1) {
  background-color: #76c8bd;
}
.main .container .grid .content .l-10 .mobile-category .mobile-category__list .mobile-category__item:nth-child(3n+2) {
  background-color: #88cf81;
}
.main .container .grid .content .l-10 .mobile-category .mobile-category__list .mobile-category__item .mobile-category__link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  width: 110px;
  height: 40px;
  display: block;
  color: #fff;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.main .container .grid .content .l-10 .home-product .row .l-2-4 .home-product-item {
  text-decoration: none;
  display: block;
  background-color: #fff;
  position: relative;
  margin: 20px 0 5px 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform linear 0.1s;
  transition: -webkit-transform linear 0.1s;
  transition: transform linear 0.1s;
  transition: transform linear 0.1s, -webkit-transform linear 0.1s;
  will-change: transform;
}
.main .container .grid .content .l-10 .home-product .row .l-2-4 .home-product-item:hover {
  -webkit-box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}
.main .container .grid .content .l-10 .home-product .row .l-2-4 .home-product-item .home-product-item-img {
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.main .container .grid .content .l-10 .home-product .row .l-2-4 .home-product-item .home-product-item-name {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  margin: 10px 10px;
  line-height: 18px;
  height: 36px;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #595959;
}
.main .container .grid .content .l-10 .home-product .row .l-2-4 .home-product-item .home-product-item-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.main .container .grid .content .l-10 .home-product .row .l-2-4 .home-product-item .home-product-item-price .home-product-item-price-old {
  margin-left: 10px;
  font-size: 11px;
  color: #666;
  text-decoration: line-through;
}
.main .container .grid .content .l-10 .home-product .row .l-2-4 .home-product-item .home-product-item-price .home-product-item-price-current {
  font-size: 15px;
  color: #ee4d2d;
  margin-left: 10px;
}
.main .container .grid .content .l-10 .home-product .row .l-2-4 .home-product-item .home-product-item-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 10px;
}
.main .container .grid .content .l-10 .home-product .row .l-2-4 .home-product-item .home-product-item-action .home-product-item__like {
  font-size: 13px;
}
.main .container .grid .content .l-10 .home-product .row .l-2-4 .home-product-item .home-product-item-action .home-product-item__like i {
  color: #f63d00;
}
.main .container .grid .content .l-10 .home-product .row .l-2-4 .home-product-item .home-product-item-action .home-product-item-ranting i {
  font-size: 8px;
  color: #d5d5d5;
}
.main .container .grid .content .l-10 .home-product .row .l-2-4 .home-product-item .home-product-item-origin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 10px;
  font-weight: 300;
  color: #595959;
  font-size: 12px;
}
.main .container .grid .content .l-10 .home-product .row .l-2-4 .home-product-item .home-product-item__favourit {
  position: absolute;
  top: 10px;
  left: -4px;
  background-color: #f63d00;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #fff;
}
.main .container .grid .content .l-10 .home-product .row .l-2-4 .home-product-item .home-product-item__favourit::before {
  position: absolute;
  content: "";
  display: block;
  border-top: 4px solid #b41515;
  border-left: 4px solid transparent;
  left: 0px;
  top: 100%;
}
.main .container .grid .content .l-10 .home-product .row .l-2-4 .home-product-item .home-product-item__favourit .fas {
  font-size: 12px;
  margin: 0 3px 0 4px;
}
.main .container .grid .content .l-10 .home-product .row .l-2-4 .home-product-item .home-product-item__favourit span {
  margin-right: 8px;
}
.main .container .grid .content .l-10 .home-product .row .l-2-4 .home-product-item .home-product-item__sale-off {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 36px;
  text-align: center;
  background-color: #ffd840;
}
.main .container .grid .content .l-10 .home-product .row .l-2-4 .home-product-item .home-product-item__sale-off::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -5px;
  border-width: 0 20px 5px;
  border-style: solid;
  border-color: transparent #ffd840 transparent #ffd840;
}
.main .container .grid .content .l-10 .home-product .row .l-2-4 .home-product-item .home-product-item__sale-off .home-product-item__sale-off-percent {
  font-size: 13px;
  font-weight: 600;
  color: #ee4d2d;
}
.main .container .grid .content .l-10 .home-product .row .l-2-4 .home-product-item .home-product-item__sale-off .home-product-item__sale-off-label {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}
.main .container .grid .content .l-10 .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 48px 0 32px 0;
}
.main .container .grid .content .l-10 .pagination .pagination-item {
  margin: 0 8px;
}
.main .container .grid .content .l-10 .pagination .pagination-item .pagination-item__link {
  text-decoration: none;
  font-size: 16px;
  color: #939393;
  min-width: 40px;
  height: 30px;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3px;
}
.main .container .grid .content .l-10 .pagination .pagination-item__active .pagination-item__link {
  background-color: #ee4d2d;
  color: #fff;
}
.main .container .grid .content .l-10 .pagination .pagination-item__active .pagination-item__link:hover {
  background-color: #f88872;
}
.main .footer {
  border-top: 4px solid #ee4d2d;
  padding: 50px 0 20px 0;
}
.main .footer .grid .row .l-2-4 {
  margin-bottom: 50px;
}
.main .footer .grid .row .l-2-4 .footer__heading {
  font-size: 14px;
  color: #939393;
  font-weight: 500;
  text-transform: uppercase;
}
.main .footer .grid .row .l-2-4 .footer__list {
  list-style: none;
  padding-left: 0px;
}
.main .footer .grid .row .l-2-4 .footer__list .footer-item {
  padding: 6px 0;
}
.main .footer .grid .row .l-2-4 .footer__list .footer-item:hover .footer__link {
  color: #ee4d2d;
}
.main .footer .grid .row .l-2-4 .footer__list .footer-item .footer__link {
  text-decoration: none;
  font-size: 13px;
  color: #939393;
}
.main .footer .grid .row .l-2-4 .footer__list .footer-item .footer__link .fab {
  width: 20px;
}
.main .footer .grid .row .l-2-4 .footer__item-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .footer .grid .row .l-2-4 .footer__item-img .footer__link-img .footer__qr-img {
  width: 100px;
}
.main .footer .grid .row .l-2-4 .footer__item-img .footer__link-img .footer__app-img {
  width: 100px;
  margin-left: 20px;
}
.main .footer__bottom {
  background-color: #f5f5f5;
  min-height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .footer__bottom span {
  font-size: 14px;
  display: block;
  color: #939393;
}
.main .modal {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}
.main .modal .modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-animation: fadeIn linear 0.1s;
          animation: fadeIn linear 0.1s;
}
.main .modal .modal__body {
  position: relative;
  margin: auto;
  background-color: white;
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
  -webkit-animation: growth linear 0.1s;
          animation: growth linear 0.1s;
}
.main .modal .modal__body .auth-form {
  width: 500px;
}
.main .modal .modal__body .auth-form .auth-form__container {
  padding: 0 32px;
}
.main .modal .modal__body .auth-form .auth-form__container .auth-form__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px 8px;
}
.main .modal .modal__body .auth-form .auth-form__container .auth-form__header .auth-form--heading {
  font-size: 22px;
  font-weight: 410;
}
.main .modal .modal__body .auth-form .auth-form__container .auth-form__header .auth-form--btn {
  font-weight: 410;
  color: #ee4d2d;
  cursor: pointer;
}
.main .modal .modal__body .auth-form .auth-form__container .auth-form__form .auth-form__group .auth-form__input {
  height: 40px;
  width: 94%;
  padding: 0 12px;
  margin: 8px 0;
  font-size: 14px;
  border: 1px solid #dbdb;
  border-radius: 3px;
  outline-color: #777;
}
.main .modal .modal__body .auth-form .auth-form__container .auth-form__aside {
  margin-top: 20px;
}
.main .modal .modal__body .auth-form .auth-form__container .auth-form__aside .auth-form__policy-text {
  font-size: 14px;
  padding: 0 12px;
  line-height: 18px;
  text-align: center;
}
.main .modal .modal__body .auth-form .auth-form__container .auth-form__aside .auth-form__policy-text .auth-form__text-link {
  text-decoration: none;
  color: #ee4d2d;
}
.main .modal .modal__body .auth-form .auth-form__container .auth-form__aside .auth-form__policy-help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.main .modal .modal__body .auth-form .auth-form__container .auth-form__aside .auth-form__policy-help .auth-form__text-password {
  color: #ee4d2d;
}
.main .modal .modal__body .auth-form .auth-form__container .auth-form__aside .auth-form__policy-help .auth-form__text-help {
  color: #D3D3D3;
}
.main .modal .modal__body .auth-form .auth-form__container .auth-form__aside .auth-form__policy-help .auth-form__text-link {
  text-decoration: none;
  font-weight: 300;
}
.main .modal .modal__body .auth-form .auth-form__container .auth-form__aside .auth-form__policy-help .auth-form__policy-space {
  border: 1px solid #ccc;
  margin: 1px 12px;
}
.main .modal .modal__body .auth-form .auth-form__container .auth-form__controls {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.main .modal .modal__body .auth-form .auth-form__container .auth-form__controls .auth-form__controls-back {
  margin-right: 8px;
}
.main .modal .modal__body .auth-form .auth-form__container .auth-form__controls .auth-form__controls-back:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.main .modal .modal__body .auth-form .auth-form__socical {
  background-color: #f5f5f5;
  padding: 12px 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main .modal .modal__body .auth-form .auth-form__socical .btn--facebook {
  color: #fff;
  background-color: #3a5a98;
}
.main .modal .modal__body .auth-form .auth-form__socical .btn--google {
  color: #555;
}
.main .modal .modal__body .auth-form .auth-form__socical .btn--with-text {
  margin: 0 36px;
}
.main .modal .modal__body .auth-form .auth-form__socical .btn--with-icon {
  padding: 0 10px;
  font-size: 12px;
}

@media (max-width: 1023px) {
  .main .header {
    height: 84px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
  }
  .main .header .grid .header__navbar {
    display: none;
  }
  .main .header .grid .header-with-seach .header__cart {
    width: 90px;
    text-align: right;
  }
  .main .header .header__sort-bar {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    right: 0;
    height: 46px;
    width: 100%;
    background-color: #fff;
    z-index: 5;
    list-style: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0;
    margin: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
  }
  .main .header .header__sort-bar .header__sort-item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    position: relative;
  }
  .main .header .header__sort-bar .header__sort-item::after {
    content: "";
    position: absolute;
    display: block;
    border-left: 1px solid #e5e5e5;
    height: 24px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .main .header .header__sort-bar .header__sort-item .header__sort-link {
    text-decoration: none;
    color: #111;
    display: block;
    text-align: center;
  }
  .main .header .header__sort-bar .header__sort-active .header__sort-link {
    color: #ee4d2d;
  }
  .main .container {
    margin-top: 110px;
  }
  .main .container .grid .content .l-2 {
    display: none;
  }
  .main .container .grid .content .l-10 .home-filter {
    display: none;
  }
}
@media (min-width: 740px) and (max-width: 1023px) {
  .main .header .grid .header-with-seach .header__logo {
    display: none;
  }
}
@media (max-width: 739px) {
  @-webkit-keyframes mobileSearchIn {
    from {
      height: 0px;
      opacity: 0;
    }
    to {
      height: 40px;
      opacity: 1;
    }
  }
  @keyframes mobileSearchIn {
    from {
      height: 0px;
      opacity: 0;
    }
    to {
      height: 40px;
      opacity: 1;
    }
  }
  .main .header .grid .header-with-seach {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main .header .grid .header-with-seach .header__seach {
    position: fixed;
    right: 0;
    left: 0;
    top: 84px;
    z-index: 7;
    -webkit-animation: mobileSearchIn linear 0.1s;
            animation: mobileSearchIn linear 0.1s;
    display: none;
  }
  .main .header .grid .header-with-seach .header__seach .header__seach-warp .header__seach-history {
    position: fixed;
    left: 0;
    right: 0;
    top: 130px;
    width: 100%;
  }
  .main .header .grid .header-with-seach .header__mobile-seach {
    display: block;
    margin: 0 20px;
    width: 60px;
  }
  .main .header .grid .header-with-seach .header__mobile-seach i {
    font-size: 26px;
    color: #fff;
  }
  .main .header .grid .header-with-seach .header__mobile-check:checked ~ .header__seach {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main .header .grid .header-with-seach .header__logo {
    width: unset;
  }
  .main .container .grid .row .c-12 .home-product {
    padding: 0 10px;
  }
  .main .container .grid .row .c-12 .mobile-category {
    display: block;
  }
  .main .container .grid .row .c-12 .pagination {
    padding-left: 0;
  }
  .main .container .grid .row .c-12 .pagination .pagination-item .pagination-item__link {
    min-width: 18px;
  }
  .main .footer {
    padding-left: 20px;
    padding-right: 20px;
  }
  .main .footer .grid .row .col {
    text-align: center;
  }
}